<!DOCTYPE html>
<html lang="en">

{% extends "index.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

    <div  style="padding:15px;">
        <div class="jumbotron">
            <h1 class="logo" align="center">GYMDER</h1>
            <h3>We are an app designed to connect fitness enthusiasts all over the world, Sign up now and start matching!</h3>
            <!--<img src="../static/gym_partners.jpg" alt="Flowers in Chania">-->
    </div>


</body>
{% endblock %}
