<html>
<!doctype html>
<title>Gymder</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
    <link rel="stylesheet" href="hyunven.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark text-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About</a>
                </li>
                {% if current_user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('start_matching')}}">Start Matching</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('match_list')}}">View Matches</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="{{url_for('profile')}}">Profile</a>
                </li>
                {%endif%}

            </ul>
        </div>
        <div class="pull-right">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                {% if current_user.is_authenticated%}
                              <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Logged in as {{current_user.username}}</div>
                <li class="nav-item">
                    <a class="btn btn-lg btn-success" href="{{url_for('logout')}}" role="button">Log Out</a>
                    <!--<a class="nav-link" href="#">Log In</a>-->

                </li>

                {%else%}
                  <li class="nav-item">
                    <a class="btn btn-lg btn-success" href="/login" role="button">Log In</a>
                    <!--<a class="nav-link" href="#">Log In</a>-->
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>

{% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

    {% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
    {% endfor %}
  {% endif %}
{% endwith %}
    </div>
{% block body %}{% endblock %}
</html>