<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create an account</title>
</head>

{% extends "index.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="logo">Create your Gymder account here</h1>
    <form method="POST" id='account_form'>
        First name: <br>
        <input type="text" name=firstname>
        <br><br>Email: <br>
        <input type="email" name=email> <br><br> Sex: <br>
        <input type="radio" name="sex" value="male"> Male<br>
        <input type="radio" name="sex" value="female"> Female<br>
        <br>State: <br>
        <input type="" name=state> <br><br> Birthday:

        <br>
        <input type="month" name="birthday">
        <br><br>

        <input type="submit">
    </form>
    <p>Bio (optional)</p>
    <textarea name="bio" form="account_form">Enter bio here...</textarea>
</div>

{% endblock %}

</html>
