<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block body %}
<body background="../static/wht2.png">
    {% block content %}
                    {% if not current_user.is_authenticated%}
    <div class="jumbotron">
        <h1 class="logo" align="center">GYMDER</h1>
        <p align="center"><a class="btn btn-lg btn-success" href="/register" role="button">Sign up today</a>

    </div>
    {% endif %}
    {% endblock %}
    <div class="container">
    </div>
</body>
{% endblock %}
</html>