<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block body %}
<body>
    {% block content %}
    <div class="jumbotron">
        <h1 class="logo">GYMDER</h1>
        <!--<h2 class="logo">INC</h2>-->
        <p><a class="btn btn-lg btn-success" href="/register" role="button">Sign up today</a>

    </div>
    {% endblock %}
    <div class="container">
    </div>
    <div id="insides" class="container content">
        <p>Content for the page goes here, in the div labeled <strong>insides</strong>.</p>
    </div>
</body>
{% endblock %}
</html>