<!DOCTYPE html>
<html lang="en">

{% extends "index.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Matches</title>
</head>
<body>

<div  style="padding:15px;">
    <!--{{matches}}-->

    {% for match in matches %}
   <div class="card"  style="width: 18rem;">
  <img class="card-img-top" src="{{match[6]}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{match[1]}}</h5> <h5 class="card-title">{{age}}</h5>
    <p class="card-text"> {{match[3]}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Bio goes here</li>
  </ul>
  <div class="card-body">
    <a href="mailto:{{match[2]}}" class="card-link">Contact</a>
    <a href="#" class="card-link">Chat</a>
  </div>
</div>
    <br>
    {%endfor%}
</div>


</body>
{% endblock %}
