<!DOCTYPE html>
<html lang="en">

{% extends "index.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <div style="padding:15px;">
                <div class="card"  style="width: 30rem;">
                    <div class="card-header bg-dark text-white">
                        <h5 align="center">@{{info[0]}}</h5>
                    </div>
                    <img class="card-img-top" src="{{info[6]}}" alt="Card image cap">
                    <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                        <div class="card-header" align="center"><h5>{{info[1]}}</h5></div>
                        <div class="card-body">
                            <h5 class="card-title" align="center">Bio</h5>
                            <p class="card-text" align="center"><h3 align="center">{{info[7]}}</h3></p>
                        </div>
                        <p align="center">Age: <b>{{age}}</b> &emsp; Birthday: <b>{{info[5]}}</b></p>
                        <p></p>
                        <p align="center">State: <b>{{info[3]}}</b> &emsp; Sex: <b>{{info[4]}}</b></p>
                        <p></p>
                        <p align="center">Email: <b>{{info[2]}}</b></p>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>




</body>
{% endblock %}

