{% extends "base.html" %}
{% block body %}
<body>
    <div class="jumbotron">
        <h1 class="logo">GYMDER</h1>
        <h2 class="logo">Create your Gymder account here</h2>

        <form method="POST" action="/register" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username(size=30) }} <br>
            {{ form.password.label }} {{ form.password(size=20) }} <br><br>
            First name: {{ profile.name(size=20) }} <br><br>
            Email: {{ profile.email() }} <br><br>
            State: {{ profile.state() }} <br><br>
            Sex: {{ profile.sex() }}
            Birthday: {{ profile.birthday() }} <br><br>
            Upload image <br>{{ profile.picture }}<br><br>
            Bio (optional)<br> {{profile.bio()}} <br><br>

            <input type="submit" value="sign up">
            <br>
        </form>
    </div>
</body>
{% endblock %}
