{% extends "base.html" %}
{% block body %}
<body>
          <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Gymder</h1>
          <p class="display-4 text-muted">Create Your Account Below</p>
        </div>
              <hr class=" py-4">


        <div class="row justify-content-center">

        <form method="POST" action="/register" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username(size=30) }}
            {{ form.password.label }} {{ form.password(size=30) }} <br><br>
            First name: {{ profile.name(size=29) }}
            Email: {{ profile.email(size = 34) }} <br><br>
            State: {{ profile.state() }} <br><br>
            Sex: {{ profile.sex() }}
            Birthday: {{ profile.birthday() }} <br><br>
            Upload image <br>{{ profile.picture }}<br><br>
            Bio (optional)<br> {{profile.bio()}} <br><br>

            <p style="text-align:center;">
            <input type="submit" value="sign up">
            </p>

            <br>
        </form>
            </div>
            </div>

</body>
{% endblock %}
